*{
    font-family: "Roboto",sans-serif;
}

#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: loader 2s forwards cubic-bezier(0, 0, 1, -0.45);


    .spinner {
        width: 50px;
        padding: 8px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #9356DC;
        margin-bottom: 2rem;
        --_m: 
          conic-gradient(#0000 10%,#000),
          linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
                mask: var(--_m);
        -webkit-mask-composite: source-out;
                mask-composite: subtract;
        animation: spinner 1s infinite linear;
    }
}

@keyframes spinner {
    to{
        transform: rotate(1turn)
    }
}
@keyframes loader {
    from{
        opacity: 1;
        z-index: 999999;
    }

    to{
        opacity: 0;
        z-index: -10;
    }
    
}

.header{
    background-color:#FFFF;
    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo{
            margin: 20px;
       }
    }
}

.location{
    background-color:#EAEAEA;
    padding-top: 10px;
    padding-bottom:10px;
    display: flex;
    justify-content: center;
        i{
            margin-right:10px;

        }
}

.hero{
    background-color: #f6f6f6;
    padding: 1rem 0;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    h1{
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .hero_subtitle{
        font-weight:300;
        font-size: 1rem;
        color:#353535;
        margin-bottom:1rem;
        width: 90%;
        
    }
    .btn{ 
        border-radius: 20px;
        background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
        line-height: 1.5;
        text-decoration: none;
        padding:0.5rem 1.5rem ;
        color: white;
        display: inline-block;
        
    }
}

        .functioning{
            background-color: #FFFF;
            padding: 5rem ;
            .container{
                text-align: center;
                h2{
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                }

                .function_steps{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                .function_step{
                        position: relative;
                        display: flex;
                        background-color: #f6f6f6;
                        padding: 1rem 1rem 1rem 2rem;
                        border-radius: 20px;
                        box-shadow: 0px 4px 15px 0px #00000026;
                        width: 90%;
                        max-width: 400px;

                    .function_number{
                        border: 0.2px solid;
                        border-radius: 100%;
                        background-color:#9356DC;
                        color: #FFFF;
                        padding: 0.1rem 0.3rem;
                        margin: 0.1rem ;
                        position: absolute;
                        left: -0.7rem;                
                    }
                    
                    i{
                        color: #7e7e7e;
                        margin-right: 1.5rem;
                        
                    }

                    #iconStore{
                        color:#9356DC ;
                    }

                    span{
                        color:#000000 ;
                    }

                    }

                }
            }
        }

.restaurants{
    background-color: #f6f6f6;
    padding: 5rem;

    .container{
        
        h2{
            margin-bottom: 2rem;
            font-size: 24px;
            color: #000000;

        }

        .cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap :2rem;
            

            a{
                background-color: #FFFF;
                border-radius: 15px;
                width: 100% ;
                text-decoration: none;
                color: inherit;

                .card_image{
                    position: relative;
                    width: 100%;

                    img{
                        display: block;
                        width:100%;
                        height: auto;
                        object-fit: cover;
                        max-height: 200px;
                        border-top-left-radius: 15px;
                        border-top-right-radius:15px ;
                    }
                
                    .card_badge{
                        position: absolute;
                        top:10px;
                        right: 10px;
                        background-color:#99E2D0 ;
                        color: #008766;
                        font-size: 14px;
                        text-align: center;
                        padding:0.6rem;

                    }
                
                }
                .card_footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    padding: 1rem;

                        .card_title{
                            font-size: 18px;
                            text-align:left;
                            margin-bottom: 0.2rem;

                        }

                        .card_subtitle{
                                display: block;
                                font-size: 17px;
                                font-weight: 300;
                                text-align: left;
                                
                        }

                        .card_icon_btn_heart{
                            position: relative;
                            width: 2rem;
                            height: 2rem;
                            i{
                                font-size:25px; 
                            }
                            .far{
                                position: absolute;
                                opacity: 1;
                                transition: 0.2s ease;
                            }
                            .fas{
                                z-index: 2;
                                position: absolute;
                                opacity: 0;
                                background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                transition: 0.2s ease;
                            }

                            &:hover{
                                
                                .far{
                                    opacity: 0;
                                }
                                .fas{
                                    opacity: 1;
                                }
                            }
                        }
                } 
            }

        }

    }

}

.footer{
    background-color: #353535;
    padding: 1rem;

    .footer_text{
        color: #FFFF;
        font-family: "shrikhand" ,sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    ul{
        display: flex;
        flex-direction:column;
        list-style-type: none;


        li{
            margin-bottom: 0.5rem;

            a{
                color: #FFFF;
                text-decoration: none;
                
            
            }
        }
    }    
}
/** ici c'est la version desktop**/
@media screen and (min-width:1024px){

    .location{
            font-size: 1rem;
        }    

    .hero{
        
        h1{
            font-weight: 700;
            font-size: 2.5rem;
        }

        .hero_subtitle{
            font-weight:300;
            font-size: 1.2rem;
            
        }
    }

        .functioning{
            padding: 5rem;
            .container{
                text-align: left;
                h2{
                    margin-bottom: 2rem;
                    font-size: 1.5rem;
                }
                .function_steps{
                    display: flex;
                    flex-direction:row;
                    justify-content:space-between;

                    .function_step{
                        padding: 1.7rem 3rem 1.7rem ;
                        width: auto;

                    }
                    
                }

            }
        }

        .restaurants{
            padding: 5rem;
            .container{
                h2{
                    font-size:1.5rem;
                }
                .cards{
                    display:grid;
                    grid-template-columns: repeat(2,1fr);
                    gap:3rem 7rem;
                    

                    a{
                        .card_footer{
                           
                            .card_icon_btn_heart{
                                i{

                                }
                            }
                        }
                    }
                }
            }       
        }

        .footer{
            position: relative;
        
            .footer_text{
                display: flex;
                justify-content: end;
                padding-left: 3rem;
                position: absolute;
                right: 3rem;
                top: 3.5rem;
            }
            .footer_list{
                display: flex;
                flex-direction:row;
                justify-content: end;
                padding:2rem 15rem 1rem 0rem;
        
                li{
                    padding:1rem;
                    
                }
            }
        }
        
    }

